body {
	background: #cccccc;
}

.stage {
	width: 900px;
	height: 556px;
	margin: 100px auto;
	background: white;
	position: relative;

}

#orange {
	width: 30px;
    height: 30px;
    background: orange;
    border-radius: 150px;
    top: 340px;
    left: 150px;
    position: absolute;
}

#square {
	width: 400px;
    height: 70px;
    background: red;
    top: 310px;
    left: 20px;
	position: absolute;

	/* uncomment to add keyframe animation */
	/* animation: spin 2s infinite; */

}

#pot {
	    width: 70px;
    height: 70px;
    background: #800000;
    top: 303px;
    left: 56px;
    position: absolute;
    clip-path: polygon(50% 0%, 53% 0, 99% 27%, 100% 70%, 80% 90%, 50% 91%, 20% 90%, 0% 70%, 0 25%, 46% 0);
}

#clip {
	width: 150px;
	height: 150px;
	background: yellow;
	    clip-path: polygon(28% 3%, 37% 9%, 43% 0%, 45% 10%, 59% 5%, 53% 16%, 65% 19%, 49% 23%, 55% 36%, 43% 30%, 67% 77%, 66% 79%, 36% 31%, 29% 41%, 30% 28%, 16% 29%, 25% 20%, 14% 15%, 28% 13%);
    top: 203px;
	
	position: absolute;

	/* uncomment for css transitions */
	/* transition: all 400ms ease; */
}

/* animations */

/*
#clip:hover {
	transform: rotate(1200deg);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@keyframes move {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(100px);
  }
}

*/